h1 {
    text-align: center;
}

.hot {
    color: rgb(255, 0, 76);
    font-size: 6em;
    font-weight: bolder;
}

.warm {
    color: rgb(212, 167, 41);
    font-size: 5em;
    font-weight: bolder;
}

.cold {
    color: rgb(0, 110, 255);
    font-size: 4em;
    font-weight: bolder;
}