/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {

    ionic-title {
      font-size: 2em;
    }

    --ion-background-color:#2c3542; //Custom Background

    --ion-color-primary: #0e6286;
    --ion-color-primary-rgb: 14,98,134;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0c5676;
    --ion-color-primary-tint: #267292;
  
    --ion-color-secondary: #8accff;
    --ion-color-secondary-rgb: 138,204,255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #79b4e0;
    --ion-color-secondary-tint: #96d1ff;
  
    --ion-color-tertiary: #d1c7fa;
    --ion-color-tertiary-rgb: 179,187,219;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #a39bc7;
    --ion-color-tertiary-tint: #e1daff;
  
    --ion-color-success: #c8dfcd;
    --ion-color-success-rgb: 200,223,205;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #b0c4b4;
    --ion-color-success-tint: #cee2d2;
  
    --ion-color-warning: #fbedc1;
    --ion-color-warning-rgb: 251,237,193;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #ddd1aa;
    --ion-color-warning-tint: #fbefc7;
  
    --ion-color-danger: #f5b7cd;
    --ion-color-danger-rgb: 245,183,205;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #d8a1b4;
    --ion-color-danger-tint: #f6bed2;
  
    --ion-color-dark: #232529;
    --ion-color-dark-rgb: 35,37,41;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1f2124;
    --ion-color-dark-tint: #393b3e;
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-light: #fafafa;
    --ion-color-light-rgb: 250,250,250;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #dcdcdc;
    --ion-color-light-tint: #fbfbfb;
  }