@keyframes swanTravel {
    from {
        left: 0px;  
    }
    to {
        left: 1000px;
    }

}

@keyframes swanFly {
    from {
        top: 0px;  
    }
    to {
        top: 100px;
    }

}

@keyframes swanRotate {
    from {
        transform: rotate(-6deg); 
    }
    to {
        transform: rotate(6deg); 
    }

}

body {
    background-color: black;
}

#swan {
    position: relative;
    animation: swanTravel 4s 1, swanFly 0.25s 30, swanRotate 0.25s 30;
    width: 200px;
    height: 200px;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}

