body {
    overflow: hidden;
    background-color: black;
}

.grid {
    position: absolute;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
}

/*________________Animations________________*/
.animation {
    animation: anim 42s linear 0s infinite normal forwards;
}

@keyframes anim {

    0% {
        opacity: 0;
        transform:scale(1,1);
        
    }

    4% {
        opacity: 100;
    }
    

    6% {
        transform:scale(1.1,1.1);
    }

    10% {
        transform:scale(1.2,1.2) rotateZ(5deg);
    }

    12% {
        opacity: 100;
    }

    16% {
        opacity: 0;
        transform:scale(1.2,1.2) rotateZ(5deg);

    }
    
}

/*________________Images________________*/

.img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw;
    height: 100%;
}
#img1 {
    opacity: 0;
    background-image: url("../images/img1.jpg");
    animation-delay: 0s;
}
#img2 {
    background-image: url("../images/img2.jpg");
    opacity: 0;
    animation-delay: 7s;
}
#img3 {
    background-image: url("../images/img3.jpg");
    opacity: 0;
    animation-delay: 14s;
}
#img4 {
    background-image: url("../images/img4.jpg");
    opacity: 0;
    animation-delay: 21s;
}
#img5 {
    background-image: url("../images/img5.jpg");
    opacity: 0;
    animation-delay: 28s;
}
#img6 {
    background-image: url("../images/img6.jpg");
    opacity: 0;
    animation-delay: 35s;
}