/*________________Animations________________*/
.animation {
    animation: anim 6s linear 0s infinite normal forwards;
}

@keyframes anim {

    0% {
        opacity: 0;
        transform:scale(1,1);
        
    }

    10% {
        opacity: 100;
    }
    

    25% {
        transform:scale(1.1,1.1);
    }

    50% {
        transform:scale(1.2,1.2) rotateZ(5deg);
    }

    75% {
        opacity: 100;
    }

    100% {
        opacity: 0;
        transform:scale(1.2,1.2) rotateZ(5deg);

    }
    
}

/*________________Images________________*/

.img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw;
    height: 100%;
}
#img1 {
    opacity: 0;
    background-image: url("../images/img1.jpg");
    animation-delay: 0s;
}
#img2 {
    background-image: url("../images/img2.jpg");
    opacity: 0;
    animation-delay: 4s;
}
#img3 {
    background-image: url("../images/img3.jpg");
    opacity: 0;
    animation-delay: 10s;
}
#img4 {
    background-image: url("../images/img4.jpg");
    opacity: 0;
    animation-delay: 16s;
}
#img5 {
    background-image: url("../images/img5.jpg");
    opacity: 0;
    animation-delay: 22s;
}
#img6 {
    background-image: url("../images/img6.jpg");
    opacity: 0;
    animation-delay: 28s;
}