/* ---------------------------------------------- */
/* COMENTAR Y DESCOMENTAR PARA VER FUNCIONAMIENTO */
/* ---------------------------------------------- */

/* Colorea el párrafo número 3 de violeta */
p:nth-child(3) { background-color: rgb(208, 171, 241);}

/* Colorea el párrafo número 3 desde abajo de amarillo */
p:nth-last-child(2) { background-color: rgb(241, 236, 171);}

/* Si p está vacío colorea el párrafo  de verde */
p:empty { background-color: rgb(79, 226, 104);
    width: 100%;
    height: 20px;
}

/* Colorea el primer párrafo de rojo */
p:first-child { background-color: rgb(226, 79, 79);}

/* Colorea el último párrafo de verde */
p:last-child { background-color: rgb(84, 143, 87);}

/* Colorea el párrafo número 2 del tipo párrafo de azul */
p:nth-of-type(7) { background-color: rgb(76, 97, 168);}

/* Colorea el último párrafo del tipo párrafo de gris */
p:last-of-type(4) { background-color: rgb(121, 121, 121);}

/* Pondría un borde a todo lo que no sea p */
:not(p) { border: 12px, dotted, black;}
