#ball {
    width:  50px;
    height: 50px;
    background-color: tomato;
    border: 5px solid rgb(184, 68, 48);
    border-radius: 50px;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
}