#div1 {
    width: 100px;
    height: 100px;
    background-color: rgb(82, 175, 121);
    transition-property: width, background-color;
    transition-duration: 2s, 2s;
    transition-timing-function: cubic-bezier(.03,.99,.03,.99);
}

#div1:hover {
    width: 400px;
    background-color: rgb(95, 70, 238);
}