#zombie1 {
    background: url("z.png");
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
    animation: animatezombie1 0.5s steps(4) infinite;
}

@keyframes animatezombie1 {
    from {background-position-x: 0px;}
    to {background-position-x: -512px;}

}

#zombie2 {
    background: url("z.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    height: 128px;
    width: 128px;
    animation: animatezombie2 0.6s steps(4) infinite;
}

@keyframes animatezombie2 {
    from {background-position-x: 0px;}
    to {background-position-x: -512px;}

}

#zombie3 {
    background: url("z.png");
    background-repeat: no-repeat;
    background-position-y: -256px;
    height: 128px;
    width: 128px;
    animation: animatezombie3 0.8s steps(4) infinite;
}

@keyframes animatezombie3 {
    from {background-position-x: 0px;}
    to {background-position-x: -512px;}

}

#zombie4 {
    background: url("z.png");
    background-repeat: no-repeat;
    background-position-y: -384px;
    height: 128px;
    width: 128px;
    animation: animatezombie4 0.5s steps(4) infinite;
}

@keyframes animatezombie4 {
    from {background-position-x: 0px;}
    to {background-position-x: -512px;}

}